<% layout("/layout/boilerplate") %>

    <body>
        <div class="row mt-3 mb-5 ">
            <div class="col-8 offset-2">
                <h3>Edit this listing</h3>
                <form action="/listings/<%= listing.id %>?_method=PUT" method="POST" class="needs-validation" novalidate
                    enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label mb-0">Title</label>
                        <input class="form-control" id="title" name="listing[title]" type="text"
                            value="<%= listing.title %>" placeholder="enter title" required>
                        <div class="invalid-feedback"> Please enter title required </div>
                    </div>



                    <div class="mb-3">
                        <label for="description" class="form-label mb-0">Description</label>
                        <textarea class="form-control" name="listing[description]" id="decription" type="text" value=""
                            rows="3" placeholder="enter decription" required><%= listing.description %></textarea>
                        <div class="invalid-feedback"> Please enter title description </div>
                    </div>


                    <div class="mb-1">
                        <p class="mb-0">Prev image</p>
                        <img src="<%= originaImageUrl %>" alt="image" class="prev-image">
                    </div>


                    <div class="mb-3">
                        <label for="image" class="form-label mb-0">Image</label>
                        <input class="form-control" name="listing[image]" id="image" type="file"
                            placeholder="enter image url/link"  value="<%=listing.image.url %>" >
                        <div class="invalid-feedback"> Please enter title image </div>
                    </div>



                    <div class="row">

                        <div class="mb-3 col-md-3">
                            <label for="price" class="form-label mb-0">Price</label>
                            <input id="price" class="form-control" name="listing[price]" type="text"
                                placeholder="enter price" value="<%=listing.price %>"  required>
                            <div class="invalid-feedback">
                                Please enter valid price
                            </div>
                        </div>




                        <div class="mb-3 col-md-3">
                            <label for="country" class="form-label mb-0">Country</label>
                            <input id="country" class="form-control" name="listing[country]" type="text"
                                placeholder="enter country" value="<%=listing.country %>"  required>
                            <div class="invalid-feedback">
                                Please enter valid country
                            </div>
                        </div>



                        <div class="col">
                            <label for="category">Category</label>
                            <select class="form-select" aria-label="Default select example" id="category"
                                name="listing[category][]"   multiple>
                                <option class="options" disabled style="color:rgb(0, 0, 0); font-weight: 500;">Select
                                </option>

                                <% category_options.forEach(cat=> { %>
                                    <li>
                                        <option class="options" value="<%= cat %>">
                                            • <%= cat.charAt(0).toUpperCase() + cat.slice(1) %>
                                        </option>
                                    </li>
                                    <% }) %>



                            </select>
                        </div>

                    </div>



                    <div class="mb-3">
                        <label for="location" class="form-label mb-0">Location</label>
                        <input class="form-control" name="listing[location]" id="location" type="text"
                            value="<%= listing.location %>" placeholder="enter location" required>
                        <div class="invalid-feedback"> Please enter title location </div>
                    </div>

                    <button class="btn btn-dark edit-btn mt-3">Add</button>
            </div>
            </form>
        </div>
    </body>