<% layout("/layout/boilerplate") %>
    <!-- <%= success %> -->
    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }


        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .tax-info {
            display: none;
        }

        .tax_toggle {
            padding: 15px;
            border-radius: 12px;
            border: 1px solid rgb(210, 209, 209);
            height: 2rem !important;
            padding: 1rem 2rem 1rem 2rem;
            margin-top: 1rem;
            margin-left: 1rem;
            background-color: rgba(227, 224, 224, 0.3);
            font-size: 0.9rem !important;
            width: 210px !important;
        }

        .filter div a {
            color: black !important;
            opacity: 0.8;
        }

        .tax-main {
            display: flex;
            justify-content: center;
            align-items: center;
        }


     
    </style>

    <body>


        <div id="filters">
            <div class="filter">
                <div><a href="/listings/search?category=Trending"><i class="fa-solid fa-fire"></i></a></div>
                <p>Trending</p>
            </div>

            <div class="filter">
                <div><a href="/listings/search?category=rooms"><i class="fa-solid fa-bed"></i></a></div>
                <p>Rooms</p>
            </div>

            <div class="filter">
                <div><a href="/listings/search?category=cities"><i class="fa-solid fa-mountain-city"></i></a></div>
                <p>Iconic Cites</p>
            </div>

            <div class="filter">
                <div><a href="/listings/search?category=mountains"><i class="fa-solid fa-mountain"></i></a></div>
                <p>Mountains</p>
            </div>

            <div class="filter">
                <div><a href="/listings/search?category=castles"><i class="fa-brands fa-fort-awesome"></i></a></div>
                <p>Castles</p>
            </div>

            <div class="filter">
                <div><a href="/listings/search?category=arctic"><i class="fa-solid fa-snowflake"></i></a></div>
                <p>Arctic</p>
            </div>


            <div class="filter">
                <div><a href="/listings/search?category=pools"><i class="fa-solid fa-person-swimming"></i></a></div>
                <p>Amazing Pools</p>
            </div>


            <div class="filter">
                <div><a href="/listings/search?category=farms"><i class="fa-solid fa-building-wheat"></i></a></div>
                <p>Farms</p>
            </div>

            <div class="filter">
                <div><a href="/listings/search?category=domes"><i class="fa-solid fa-igloo"></i></a></div>
                <p>Domes</p>
            </div>

            <div class="filter">
                <div><a href="/listings/search?category=island"><i class="fa-solid fa-earth-oceania"></i></a></div>
                <p>Island</p>
            </div>


            <% if(allListings.length !==0){%>
                <div class="form-check-reverse form-switch tax_toggle tax-main">
                    <div>
                        <input class="form-check-input " type="checkbox" role="switch" id="switchCheckDefault">
                        <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
                    </div>
                </div>
            <% } %>


        </div>





        <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1 row-cols-xs-1 mt-3">
            <%for(let listing of allListings){%>
                <a class="listing-link" href="/listings/<%= listing._id %>">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                            style="height:20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8377;
                                <%= listing.price !=null ? listing.price.toLocaleString("en-IN") : "N/A" %>
                                    /night
                                    <i class="tax-info">+ <%= Math.floor(( Math.random() + 1) * 10)%>% GST</i>
                            </p>

                        </div>
                    </div>
                </a>

                <%}%>
        </div>


    </body>


    <script>
        let taxSwitch = document.getElementById('switchCheckDefault');
        taxSwitch.addEventListener("click", () => {

            let taxInfo = document.querySelectorAll(".tax-info");
            for (info of taxInfo) {
                if (info.style.display !== "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }


            }
        });
    </script>